.DS_Store
node_modules
/dist
/out
/electron/dist
/electron/assets/ui


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
